---
import Layout from "../layout/Layout.astro";
import Hero from '../components/sections/Hero.astro'
import About from '../components/sections/About.astro'
import Experience from '../components/sections/Experience.astro'
import Education from '../components/sections/Education.astro'
import Certificate from '../components/sections/Certificate.astro'
import Projects from '../components/sections/Projects.astro'
import Skills from '../components/sections/Skills.astro'

import { basics } from "../../cv.json";
import BackgroundColorChanger from "../components/BackgroundColorChanger ";
const { name, label } = basics;
const firstName = name.split(" ")[0];
---

<Layout title={`${firstName}'s Portfolio - ${label}`}>
 <main>
  <Hero>
    <!-- <BackgroundColorChanger client:load/>   -->
  </Hero>
  <About/>
  <Experience/>
  <Education/>
  <Certificate/>
  <Projects/>
  <Skills/>
 </main>
</Layout>

<style>
  main {
    padding: 2rem;
    margin: auto;
    width: 100%;
  }

  @media (width <= 700px) {
    main {
      padding: 2rem;
    }
  }
</style>